<%=render 'head' %>

<div class="container fluid-height clearfix">

  <h2 class="heading" style="margin-top: 15px;">产品分类设置</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th class="heading">名称</th>
        <th class="heading">操作</th>
      </tr>
      </thead>
      <% @productclas.each do |productcla| %>
          <tr>
            <td width="30px"><i class="heading icon-bar-chart"></i></td>
            <td><%= productcla.name %></td>
            <td width="100px" align="center"><%= link_to "", productcla,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '', productcla, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>

    </table>

    <br>

    <%= link_to ' 新建产品分类', new_productcla_path, class: "icon-plus btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
  </div>
</div>

