<p id="notice"><%= notice %></p>

<h1>Listing Productclas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productclas.each do |productcla| %>
      <tr>
        <td><%= productcla.name %></td>
        <td><%= link_to 'Show', productcla %></td>
        <td><%= link_to 'Edit', edit_productcla_path(productcla) %></td>
        <td><%= link_to 'Destroy', productcla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Productcla', new_productcla_path %>
