<%= render 'head'%>
<div class="container fluid-height clearfix">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="heading"><i class="icon-bullhorn"></i>&nbsp; 商家信息</h2>
      <div class="widget-container fluid-height clearfix" style="padding: 10px;">
        <div class="col-lg-12">
          <p>
            <span class="col-sm-2" style="text-align: right;">商家管理ID:</span>
            <%=  @seller.selleradmin_id %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">商家姓名:</span>
            <%= @seller.name %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">商家简介:</span>
            <%= @seller.summary %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">商家电话:</span>
            <%= @seller.tel %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">商家地址:</span>
            <%= @seller.address %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">商家logo:</span>
            <%= @seller.logo %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">提示信息:</span>
            <%= @seller.hint %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">商家位置:</span>
            <%= @seller.location %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">商家状态:</span>
            <%= @seller.status %>
          </p>
          <%= link_to '编辑', edit_advertisement_path(@diliveryman) ,class:"btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
          <%= link_to '返回', advertisements_path,class:"btn btn-primary-outline pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>

