<%= form_for(@diliveryman) do |f| %>
  <% if @diliveryman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diliveryman.errors.count, "error") %> prohibited this diliveryman from being saved:</h2>

      <ul>
      <% @diliveryman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weichat_id %><br>
    <%= f.text_field :weichat_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
