
<%= form_for(@diliveryman) do |f| %>
    <fieldset>
      <% if @diliveryman.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@diliveryman.errors.count, "error") %> prohibited this admin from being saved:</h2>

            <ul>
              <% @diliveryman.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <table class="col-lg-8">
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:30px;text-align: right;padding: 10px;"><%= f.label :姓名 %></td>
            <% if @diliveryman.name %>
                <td><%= f.text_field :name, class:"form-control", readonly:true %></td>
            <% else %>
                <td><%= f.text_field :name, class:"form-control" %></td>
            <% end %>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :微信ID %></td>
            <td><%= f.text_field :weichat_id, class:"form-control" %></td>
          </div>
        </tr>

        <tr>
          <div>
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :状态 %></td>
            <td >
              <div style="display: none;">
                <%= f.number_field :status, value:1, class:"form-control" %>
              </div>

              <div class="toggle-switch text-toggle-switch" data-off-label="停用" data-on="primary" data-on-label="正常">
                <% if @diliveryman.status == 0 %>
                    <input id="statuschange" name="statuschange" type="checkbox" onchange="javascript:adminstatuschange()">
                <% else %>
                    <input checked="" id="statuschange" name="statuschange" type="checkbox" onchange="javascript:adminstatuschange()">
                <% end %>
              </div>
            </td>
          </div>
        </tr>
        <tr>
          <td align="right" colspan="2" style="padding: 0px;"><div class="actions">
            <%= f.submit :"确定", class:"btn btn-primary-outline pull-right" %></td>
          </div>
        </tr>
      </table>
    </fieldset>
<% end %>


