<%=render 'head' %>

<div class="container fluid-height clearfix">

  <h2 class="heading" style="margin-top: 15px;">订单明细查询</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th class="heading">订单ID</th>
        <th class="heading">产品ID</th>
        <th class="heading">产品名称</th>
        <th class="heading">数量</th>
        <th class="heading">价格</th>
        <th class="heading">操作</th>
      </tr>
      </thead>


      <% @indent_details.each do |indent_detail| %>
          <tr>
            <td width="30px"><i class="heading icon-user"></i></td>
            <td><%= indent_detail.indent_id %></td>
            <td><%= indent_detail.product_id %></td>
            <td><%= indent_detail.name %></td>
            <td><%= indent_detail.num %></td>
            <td><%= indent_detail.price %></td>
            <td width="100px" align="center"><%= link_to "", indent_detail,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '', indent_detail, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>

    </table>

    <br>
  </div>
</div>

