<p id="notice"><%= notice %></p>

<h1>Listing Advertisements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Renderto</th>
      <th>Image</th>
      <th>Status</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.title %></td>
        <td><%= advertisement.renderto %></td>
        <td><%= advertisement.image %></td>
        <td><%= advertisement.status %></td>
        <td><%= advertisement.startdate %></td>
        <td><%= advertisement.enddate %></td>
        <td><%= advertisement.starttime %></td>
        <td><%= advertisement.endtime %></td>
        <td><%= link_to 'Show', advertisement %></td>
        <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>
        <td><%= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advertisement', new_advertisement_path %>
