<%=render 'head' %>
<div class="container fluid-height clearfix">
  <h2 class="heading" style="margin-top: 15px;">用户设置</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th class="heading">用户姓名</th>
        <th class="heading">微信ID</th>
        <th class="heading">电话</th>
        <th class="heading">地址</th>
        <th class="heading">位置</th>
        <th class="heading">余额</th>
        <th class="heading">积分</th>
        <th class="heading">操作</th>
      </tr>
      </thead>
      <% @customers.each do |customer| %>
          <tr>
            <td width="30px"><i class="heading icon-user"></i></td>
            <td><%= customer.name %></td>
            <td><%= customer.weichat_id %></td>
            <td><%= customer.tel %></td>
            <td><%= customer.address %></td>
            <td><%= customer.location %></td>
            <td><%= customer.balance %></td>
            <td><%= customer.integral %></td>
                <td width="100px" align="center"><%= link_to "", customer,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
                  <%= link_to '', customer, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>
    </table>
    <br>
  </div>
</div>




