
<%= render 'head'%>
<div class="container fluid-height clearfix">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="heading"><i class="icon-bullhorn"></i>&nbsp; 用户信息</h2>
      <div class="widget-container fluid-height clearfix" style="padding: 10px;">
        <div class="col-lg-12">
          <p>
            <span class="col-sm-2" style="text-align: right;">姓名:</span>
            <%=  @customer.name %>
          </p>

          <p>
            <span class="col-sm-2" style="text-align: right;">微信ID:</span>
            <%= @customer.weichat_id %>
          </p>

          <p>
            <span class="col-sm-2" style="text-align: right;">电话:</span>
            <%= @customer.tel %>
          </p>

          <p>
            <span class="col-sm-2" style="text-align: right;">地址:</span>
            <%= @customer.address %>
          </p>

          <p>
            <span class="col-sm-2" style="text-align: right;">位置:</span>
            <%= @customer.location %>
          </p>

          <p>
            <span class="col-sm-2" style="text-align: right;">余额:</span>
            <%= @customer.balance %>
          </p>

          <p>
            <span class="col-sm-2" style="text-align: right;">积分:</span>
            <%= @customer.integral %>
          </p>

          <%= link_to '编辑', edit_advertisement_path(@customer) ,class:"btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
          <%= link_to '返回', advertisements_path,class:"btn btn-primary-outline pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>
