<p id="notice"><%= notice %></p>

<p>
  <strong>Productcla:</strong>
  <%= @productclas_product.productcla_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @productclas_product.product_id %>
</p>

<%= link_to 'Edit', edit_productclas_product_path(@productclas_product) %> |
<%= link_to 'Back', productclas_products_path %>
