
<%=render 'head' %>

<div class="container fluid-height clearfix">

  <h2 class="heading" style="margin-top: 15px;">订单管理</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th class="heading">用户</th>
        <th class="heading">配送员</th>
        <th class="heading">数量</th>
        <th class="heading">配送状态</th>
        <th class="heading">下单状态</th>
        <th class="heading">总价</th>
        <th class="heading">下单时间</th>
        <th class="heading">完成时间</th>
      </tr>
      </thead>


      <% @indents.each do |indent| %>
          <tr>
            <td width="30px"><i class="heading icon-user"></i></td>
            <td><%= indent.customer_id %></td>
            <td><%= indent.courier_id %></td>
            <td><%= indent.number %></td>
            <td><%= indent.status %></td>
            <td><%= indent.orderstatus %></td>
            <td><%= indent.sum %></td>
            <td><%= indent.bltime %></td>
            <td><%= indent.finishtime %></td>
            <td width="100px" align="center"><%= link_to "", indent,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '', indent, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>

    </table>

    <br>



    <%= link_to ' 新建订单', new_indent_path, class: "icon-plus btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
  </div>
</div>

