

<%= form_for(@unit) do |f| %>
    <fieldset>
      <% if @unit.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this admin from being saved:</h2>

            <ul>
              <% @unit.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <table class="col-lg-8">
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:30px;text-align: right;padding: 10px;"><%= f.label :姓名 %></td>
            <% if @unit.name %>
                <td><%= f.text_field :name, class:"form-control", readonly:true %></td>
            <% else %>
                <td><%= f.text_field :name, class:"form-control" %></td>
            <% end %>
          </div>
        </tr>
        <tr>
          <td align="right" colspan="2" style="padding: 0px;"><div class="actions">
            <%= f.submit :"确定", class:"btn btn-primary-outline pull-right" %></td>
          </div>
        </tr>
      </table>
    </fieldset>
<% end %>

