
  <header id="header">
    <div class="top-bar">
      <div class="slidedown collapse">
        <div class="container">
          <div class="phone-email pull-left">
            <a><i class="icon-phone"></i> Call Us : +880 41 723 272</a>
            <a href="mail%40example.html"><i class="icon-envelope"></i> Email : mail@example.com</a>
          </div>
          <div class="pull-right">
            <ul class="social pull-left">
              <li class="facebook"><a href="#"><i class="icon-facebook"></i></a></li>
              <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
              <li class="dribbble"><a href="#"><i class="icon-dribbble"></i></a></li>
              <li class="linkedin"><a href="#"><i class="icon-linkedin"></i></a></li>
              <li class="rss"><a href="#"><i class="icon-rss"></i></a></li>
            </ul>
            <div id="search-form" class="pull-right">
              <form action="#" method="get">
                <input type="text" class="search-text-box">
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="navbar">
      <div class="container-fluid main-nav clearfix">
        <div class="nav-collapse">
          <ul class="nav">
            <li class="dropdown"><a data-toggle="dropdown" href="#">
              <span aria-hidden="true" ><i class="icon-gears"></i></span>系统<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "管理员设置", admins_path %>
                </li>
              </ul>
            </li>
            <li><a href="/customers">
              <span aria-hidden="true" class="icon-jpy"></span>用户</a>
            </li>
            <li class="dropdown"><a data-toggle="dropdown" href="#">
              <span aria-hidden="true" ><i class="icon-gears"></i></span>商家<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "商家注册", selleradmins_path %>
                </li>
                <li>
                  <%= link_to "商家信息管理", products_path %>
                </li>
              </ul>
            </li>

            <li class="dropdown"><a data-toggle="dropdown" href="#">
              <span aria-hidden="true" ><i class="icon-gears"></i></span>产品<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "产品管理", products_path %>
                </li>
                <li>
                  <%= link_to "产品类型", productclas_path %>
                </li>
                <li>
                  <%= link_to "单位设置", units_path %>
                </li>
              </ul>
            </li>
            <li><a href="/advertisements">
              <span aria-hidden="true" class="icon-jpy"></span>广告</a>
            </li>

            <li><a href="/advertisements">
              <span aria-hidden="true" class="icon-jpy"></span>订单</a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "订单管理", indents_path %>
                </li>
                <li>
                  <%= link_to "订单明细", indent_details_path %>
                </li>
              </ul>
            </li>
            <li><a href="/diliverymen">
              <span aria-hidden="true" class="icon-jpy"></span>配送员</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

