<%= form_for(@product) do |f| %>
    <fieldset>
      <% if @product.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@product.errors.count, "error") %> prohibited this admin from being saved:</h2>

            <ul>
              <% @product.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <table class="col-lg-8">
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:30px;text-align: right;padding: 10px;"><%= f.label :单位ID %></td>
            <td><%= f.text_field :unit_id, class:"form-control" %></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:30px;text-align: right;padding: 10px;"><%= f.label :产品分类ID %></td>
            <td><%= f.text_field :productcla_id, class:"form-control" %></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :商家ID %></td>
            <td><%= f.text_field :seller_id, class:"form-control" %></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :姓名 %></td>
            <td><%= f.text_field :name, class:"form-control" %></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :图片 %></td>
            <td><%= f.text_field :image, class:"form-control" %></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :原价 %></td>
            <td><%= f.text_field :costprice, class:"form-control" %></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :现价 %></td>
            <td><%= f.text_field :currentprice, class:"form-control" %></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :数量 %></td>
            <td><%= f.text_field :num, class:"form-control" %></td>
          </div>
        </tr>
        <tr>
          <div>
            <td style="margin-top: 10px;width:80px;text-align: right;padding: 10px;"><%= f.label :状态 %></td>
            <td >
              <div style="display: none;">
                <%= f.number_field :status, value:1, class:"form-control" %>
              </div>

              <div class="toggle-switch text-toggle-switch" data-off-label="停用" data-on="primary" data-on-label="正常">
                <% if @product.status == 0 %>
                    <input id="statuschange" name="statuschange" type="checkbox" onchange="javascript:adminstatuschange()">
                <% else %>
                    <input checked="" id="statuschange" name="statuschange" type="checkbox" onchange="javascript:adminstatuschange()">
                <% end %>
              </div>
            </td>
          </div>
        </tr>
        <tr>
          <td align="right" colspan="2" style="padding: 0px;"><div class="actions">
            <%= f.submit :"确定", class:"btn btn-primary-outline pull-right" %></td>
          </div>
        </tr>
      </table>
    </fieldset>
<% end %>

