
<%=render 'head' %>

<div class="container fluid-height clearfix">

  <h2 class="heading" style="margin-top: 15px;">产品设置</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th class="heading">单位</th>
        <th class="heading">类别</th>
        <th class="heading">商家</th>
        <th class="heading">姓名</th>
        <th class="heading">图片</th>
        <th class="heading">原价</th>
        <th class="heading">现价</th>
        <th class="heading">数量</th>
        <th class="heading">状态</th>
        <th class="heading">操作</th>
      </tr>
      </thead>


      <% @products.each do |product| %>
          <tr>
            <td width="30px"><i class="heading icon-th-list"></i></td>
            <% @unit=@units.find_by_id(product.unit_id) rescue nil %>
            <% if @unit %>
                <td class="hidden-xs"><%= @unit.name %></td>
            <% else %>
                <td class="hidden-xs">&nbsp;</td>
            <% end %>

            <% @productcla=@productclas.find_by_id(product.productcla_id) rescue nil %>
            <% if @productcla %>
                <td class="hidden-xs"><%= @productcla.name %></td>
            <% else %>
                <td class="hidden-xs">&nbsp;</td>
            <% end %>

            <% @seller=@sellers.find_by_id(product.seller_id) rescue nil %>
            <% if @seller %>
                <td class="hidden-xs"><%= @seller.name %></td>
            <% else %>
                <td class="hidden-xs">&nbsp;</td>
            <% end %>

            <td><%= product.name %></td>
            <td><%= product.image %></td>
            <td><%= product.costprice %></td>
            <td><%= product.currentprice %></td>
            <td><%= product.num %></td>
            <%if product.status==1%>
                <td>上架</td>
            <%else%>
                <td>下架</td>
            <%end%>
            <td width="100px" align="center"><%= link_to "", product,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '', product, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>

    </table>

    <br>



    <%= link_to ' 新建产品', new_product_path, class: "icon-plus btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
  </div>
</div>

