<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Unit</th>
      <th>Productcla</th>
      <th>Seller</th>
      <th>Name</th>
      <th>Image</th>
      <th>Costprice</th>
      <th>Currentprice</th>
      <th>Num</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.unit_id %></td>
        <td><%= product.productcla_id %></td>
        <td><%= product.seller_id %></td>
        <td><%= product.name %></td>
        <td><%= product.image %></td>
        <td><%= product.costprice %></td>
        <td><%= product.currentprice %></td>
        <td><%= product.num %></td>
        <td><%= product.status %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
