
<%=render 'head' %>

<div class="container fluid-height clearfix">

  <h2 class="heading" style="margin-top: 15px;">产品设置</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th class="heading">单位</th>
        <th class="heading">类别</th>
        <th class="heading">商家</th>
        <th class="heading">姓名</th>
        <th class="heading">图片</th>
        <th class="heading">原价</th>
        <th class="heading">现价</th>
        <th class="heading">数量</th>
        <th class="heading">状态</th>
        <th class="heading">操作</th>
      </tr>
      </thead>


      <% @products.each do |product| %>
          <tr>
            <td width="30px"><i class="heading icon-user"></i></td>
            <td><%= product.unit_id %></td>
            <td><%= product.productcla_id %></td>
            <td><%= product.seller_id %></td>
            <td><%= product.name %></td>
            <td><%= product.image %></td>
            <td><%= product.costprice %></td>
            <td><%= product.currentprice %></td>
            <td><%= product.num %></td>
            <td><%= product.status %></td>
            <td width="100px" align="center"><%= link_to "", product,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '', product, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>

    </table>

    <br>



    <%= link_to ' 新建产品', new_product_path, class: "icon-plus btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
  </div>
</div>

